.fundo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2b2a2a;
    border: 1px solid;
    border-color: #000000;
  }
  .fundo2{
    display: flex;
    justify-content: space-between;
        

  }
  .uuid{
    display: flex;
    align-items: center;
    width: 350px;
    height: 300px;


  }
  .uuid label{
    color: white;
    font-size: 20px;
    height: 40px;

  }
  .quadrado {
    display: flex;
    
    margin-left: 20px;
    margin-right: 20px;
    width: 296px;
    height: 300px;
    top: 0;
    left: 0;
    background-color: #706d6d;
    border-radius: 10px;
  }
  .quadrado p{
    margin-top: 90px;
    color: white;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #fffafa;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  .fundo button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.fundo button:hover {
    background-color: #919191; 
}


.fundo button:active {
    background-color: #919191; 
}