
<div class="fundo">
    <div class="text-wrapper">UUID GENERATOR</div>
    <div class="fundo2">
        <div class="quadrado"><p>
                A UUID (Universally Unique Identifier) ​​is a unique and universal identifier used to uniquely identify 
                information in computer systems.
                 It is a 128-bit sequence that, when generated correctly, has an extremely low
                probability of repeating itself, even in distributed environments.
              </p></div>
              <div class="uuid"> 
                <label>{{uuid}}</label>
              </div>
        <div class="quadrado">
            <p>The site generates UUID'S automatically for you, just click on 'Generate' :-) <br>
              We do not guarantee that the generated IDs are not the same.
            </p>
        </div>
       
    </div>
    <button (click)="generateUUID()">GENERATE</button>


</div>



